import("igraph")

importFrom("stats", cov2cor, optim)

importFrom("expm", sqrtm)

importFrom("Hmisc", minor.tick)

importFrom("snowfall", sfInit, sfLibrary, sfSapply, sfStop)

importFrom("fdrtool", fdrtool)

importFrom("ggplot2", ggplot, aes, geom_tile, scale_fill_gradient2, theme, element_blank, element_text, xlab, ylab, ylim, ggtitle)

import("reshape")

exportPattern("^[[:alpha:]]+")
