# Imports
import("igraph")
importFrom("stats", cov2cor, optim, qqplot, quantile, coef, lm.fit,
           nlm, optimize, constrOptim, nlminb)
importFrom("methods", hasArg, is, as)
importFrom("expm", sqrtm)
importFrom("Hmisc", minor.tick)
importFrom("snowfall", sfInit, sfLibrary, sfSapply, sfStop)
importFrom("fdrtool", fdrtool)
importFrom("ggplot2", ggplot, aes, geom_tile, scale_fill_gradient2, theme,
           element_blank, element_text, xlab, ylab, ylim, ggtitle)
importFrom("sfsmisc", lseq)
importFrom("utils", capture.output, setTxtProgressBar, txtProgressBar)
importFrom("grDevices", dev.off, pdf, postscript, setEPS, rainbow)
importFrom("graphics", abline, axis, hist, legend, lines,
           mtext, par, plot, text, rug)
importFrom("gRbase", triangulate, rip, is.complete, jTree)
importFrom("RBGL", is.triangulated)
importFrom("graph", numEdges)
importFrom("RSpectra", eigs_sym)
import("reshape")
import("Rcpp")

# Exports
exportPattern("^[[:alpha:]]+")

# Registering S3 methods
S3method(print, "ptest")
S3method(summary, "ptest")
S3method(plot, "ptest")
S3method(hist, "ptest")
S3method(plot, "optPenaltyFusedGrid")
S3method(print, "optPenaltyFusedGrid")

# Register shared object (to make Rcpp work)
useDynLib(rags2ridges, .registration=TRUE)
